@media only screen and (max-width: 1100px) {
    #textarea {
        width: 90%;
    }

    #text,
    #email {
        width: 90%;
    }
}

@media only screen and (max-width: 930px) {

    /*menu hamburger*/
    .menu {
        &__first {
            position: relative;
            list-style: none;
        }

        &__itemGroup {
            position: absolute;
            right: -100px;
            top: 50px;
            visibility: hidden;
            transform: scaleY(0);
            transform-origin: 50% 0;
            transition: all .75s;
            background-color: #bdbdbd;
            padding: 20px;
            border-radius: 10px;
        }

        &__item {
            display: block;
            background-color: #808080;
            margin-bottom: 5px;
            border-radius: 5px;
            font-size: 18px;
            text-align: center;
            margin-left: 0;
            height: 70px;
            width: 300px;

            &:hover {
                background-color: #a7a5a5;
            }

            a {
                display: block;
                width: 300px;
                height: 100%;
                padding-top: 10%;
            }
        }

        &__firstItem {
            display: block;
            margin-right: 50px;
            color: #ffffff;
            font-size: 36px;

            &:hover {
                color: #808080;
            }
        }

        &__activeMenu {
            visibility: visible;
            transform: scaleY(1);
        }
    }

    .head {
        flex-flow: column wrap;
        align-items: center;

        &__squere {
            margin-right: 0;
        }
    }

    .contact {
        &__group {
            flex-flow: column wrap;
        }

        &__wrapper {
            width: 100%;
        }

        &__form {
            width: 100%;
            padding-top: 60px;
        }

    }

    .flexbox {
        &__item {
            max-width: 40%;
        }
    }
}

@media only screen and (max-width: 777px) {
    .flexbox {
        &__item {
            margin: 0;
        }
    }
}

@media only screen and (max-width: 600px) {
    .flexbox {
        &__item {
            max-width: 80%;
        }
    }

    .contact {
        &__group {
            padding-left: 50px;
        }
    }
}
@media only screen and (max-width: 500px){
    .slider{
        &__opinionGroup{
            flex-flow: column wrap;
            align-items: center;
            }
        &__opinion{
            width: auto;
            overflow: auto;
            height: 95px;
            padding: 10px;
        }
        i{
            display: none;
        }
    }
    .contact{
       &>.information{
        margin-top: 20px;
       }
    }
}
@media only screen and (max-width: 480px) {
    .head {
        &__squere {
            display: none;
        }
    }
}

@media only screen and (max-width: 440px) {
    .head {
        &__group {
            padding-left: 20px;
            padding-right: 10px;
        }

        &__title {
            font-size: 24px;
            padding-bottom: 17px;
        }

        &__description {
            font-size: 18px;
        }
    }

    .menu {
        &__logo {
            transition: .75s;
            margin-left: 10px;
        }
    }

    .flexbox-img {
        &__item {
            width: 90%;
            height: auto;
        }
    }
}