@media only screen and (max-width: 1100px) {
  #textarea {
    width: 90%;
  }
  #text,
  #email {
    width: 90%;
  }
}

@media only screen and (max-width: 930px) {
  /*menu hamburger*/
  .menu__first {
    position: relative;
    list-style: none;
  }
  .menu__itemGroup {
    position: absolute;
    right: -100px;
    top: 50px;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition-duration: .75s;
    background-color: #bdbdbd;
    padding: 20px;
    border-radius: 10px;
  }
  .menu__item {
    display: block;
    background-color: #808080;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    margin-left: 0;
    height: 70px;
    width: 300px;
  }
  .menu__item:hover {
    background-color: #a7a5a5;
  }
  .menu__item a {
    display: block;
    width: 300px;
    height: 100%;
    padding-top: 10%;
  }
  .menu__firstItem {
    display: block;
    margin-right: 50px;
    color: #ffffff;
    font-size: 36px;
  }
  .menu__firstItem:hover {
    color: #808080;
  }
  .menu__activeMenu {
    visibility: visible;
    transform: scaleY(1);
  }
  .head {
    flex-flow: column wrap;
    align-items: center;
  }
  .head__squere {
    margin-right: 0;
  }
  .contact__group {
    flex-flow: column wrap;
  }
  .contact__wrapper {
    width: 100%;
  }
  .contact__form {
    width: 100%;
    padding-top: 60px;
  }
  .flexbox__item {
    max-width: 40%;
  }
}

@media only screen and (max-width: 777px) {
  .flexbox__item {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .flexbox__item {
    max-width: 80%;
  }
  .slider {
    display: none;
  }
  .contact__group {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .head__squere {
    display: none;
  }
}

@media only screen and (max-width: 440px) {
  .head__group {
    padding-left: 20px;
    padding-right: 10px;
  }
  .head__title {
    font-size: 24px;
    padding-bottom: 17px;
  }
  .head__description {
    font-size: 18px;
  }
  .menu__logo {
    transition: all .75s;
    margin-left: 10px;
  }
  .flexbox-img__item {
    width: 90%;
    height: auto;
  }
}
