* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Open Sans', Tahoma, sans-serif;
}

.title {
  font-weight: bold;
}

.btn {
  background-color: #EA5B58;
  color: #ffffff;
  width: 145px;
  height: 54px;
  border: transparent;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .75s;
}

.btn:hover {
  background-color: #ff0000;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 31px;
  padding-bottom: 30px;
  background-color: #0d0b11;
}

.menu__logo {
  margin-left: 114px;
}

.menu__itemGroup {
  list-style: none;
  margin-right: 114px;
}

.menu__item {
  display: inline-block;
  margin-left: 50px;
}

.menu__item a {
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: none;
  transition: all .75s;
}

.menu__item a:hover {
  color: #808080;
}

.head {
  display: flex;
  color: white;
  background-color: #161828;
}

.head__group {
  padding-top: 107px;
  padding-bottom: 64px;
  padding-left: 113px;
}

.head__title {
  font-size: 36px;
  padding-bottom: 27px;
}

.head__description {
  font-size: 24px;
  padding-bottom: 64px;
}

.head__img {
  margin-right: 91px;
  margin-top: 34px;
  margin-bottom: 44px;
}

.services {
  background-color: #475a85;
  color: #ffffff;
  padding-top: 69px;
  padding-bottom: 95px;
}

.services-group {
  text-align: center;
  padding-bottom: 150px;
}

.services-group__title {
  font-size: 30px;
  padding-bottom: 4px;
}

.services-group__description {
  padding-bottom: 14px;
}

.flexbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flexbox__item {
  max-width: 221px;
  margin: 0 auto;
  margin-right: 77.7px;
  text-align: center;
}

.flexbox__title {
  padding-bottom: 9.5px;
  font-size: 18px;
}

.flexbox__description {
  height: 53.67px;
  overflow: hidden;
  font-size: 14px;
}

.flexbox__btn {
  margin-top: 27.7px;
  margin-bottom: 95px;
}

.information {
  background-color: #7b7b7b;
  padding-top: 180px;
  padding-bottom: 150px;
  text-align: center;
  color: #ffffff;
}

.information__title {
  font-size: 48px;
  padding-bottom: 15px;
}

.information__description {
  font-size: 24px;
}

.portofolio {
  padding-top: 82px;
}

.portofolio__group {
  text-align: center;
  color: #323232;
}

.portofolio__title {
  font-size: 30px;
  padding-bottom: 10px;
}

.portofolio__description {
  font-size: 18px;
  padding-bottom: 10px;
}

.breadcrumbs {
  padding-top: 82px;
  padding-bottom: 40px;
  color: #323232;
  font-size: 18px;
  cursor: pointer;
}

.breadcrumbs__active {
  color: #323232;
  transition: all .75s;
}

.breadcrumbs__active:hover {
  color: #A7A7A7;
}

.breadcrumbs__noActive {
  color: #A7A7A7;
  transition: all .75s;
}

.breadcrumbs__noActive:hover {
  color: #323232;
}

.flexbox-img {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flexbox-img__item {
  width: 369px;
  height: 290px;
  transition: all 1s;
  margin-bottom: 38px;
}

.flexbox-img .item-1 {
  background: url("img/thumb.png");
  cursor: pointer;
}

.flexbox-img .item-1:hover {
  background: #506082;
}

.flexbox-img .item-2 {
  background: url("img/thumb-1.png");
  cursor: pointer;
}

.flexbox-img .item-2:hover {
  background: #506082;
}

.flexbox-img .item-3 {
  background: url("img/thumb-2.png");
  cursor: pointer;
}

.flexbox-img .item-3:hover {
  background: #506082;
}

.flexbox-img .item-4 {
  background: url("img/thumb-3.png");
  cursor: pointer;
}

.flexbox-img .item-4:hover {
  background: #506082;
}

.flexbox-img .item-5 {
  background: url("img/thumb-5.png");
  cursor: pointer;
}

.flexbox-img .item-5:hover {
  background: #506082;
}

.flexbox-img .item-6 {
  background: url("img/thumb-5.png");
  cursor: pointer;
}

.flexbox-img .item-6:hover {
  background: #506082;
}

.arrow-module {
  text-align: center;
  padding-top: 61px;
  font-size: 18px;
  color: #323232;
}

.arrow-module__text {
  padding-bottom: 10px;
}
