*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    font-family: 'Open Sans', Tahoma, sans-serif;
}
.title{
    font-weight: bold;
}
.btn{
    background-color: #EA5B58;
    color: #ffffff;
    width: 145px;
    height: 54px;
    border: transparent;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .75s;
    &:hover{
        background-color: #ff0000;
    }
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 31px;
    padding-bottom: 30px;
    background-color: #0d0b11;
   &__logo{
    margin-left: 114px;
      
    }
    &__itemGroup{
        list-style: none;
        margin-right: 114px;
          }
    &__item{
        display: inline-block;
        margin-left: 50px;

        a{
            color: #FFFFFF;
            font-size: 14px;
            text-decoration: none;
            transition: all .75s;
            &:hover{
                color: #808080;
            }
        }
    }
    
}
.head{
    display: flex;
    color: white;
    background-color: #161828;
    &__group{
        padding-top: 107px;
        padding-bottom: 64px;
        padding-left: 113px;
    }
    &__title{
        font-size: 36px;
        padding-bottom: 27px;
    }
    &__description{
        font-size: 24px;
        padding-bottom: 64px;
    }
    &__img{
        margin-right: 91px;
        margin-top: 34px;
        margin-bottom: 44px;
    }

}
.services{
    background-color: #475a85;
    color: #ffffff;
    padding-top: 69px;
    padding-bottom: 95px;
}
.services-group{
    text-align: center;
    padding-bottom: 150px;
    &__title{
        font-size: 30px;
        padding-bottom: 4px;
    }
    &__description{
        padding-bottom: 14px;
    }
}
.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
   
    &__item{
        max-width: 221px;
        margin: 0 auto;
        margin-right: 77.7px;
        text-align: center;
    }
    &__title{
        padding-bottom: 9.5px;
        font-size: 18px;
    }
    &__description{
        height: 53.67px;
        overflow: hidden;
        font-size: 14px;
        
    }
    &__btn{
        margin-top: 27.7px;
        margin-bottom: 95px;
    }
}
.work{


}
.information{
    
    // background-image: url('img/grid.jpg');
    background-color: #7b7b7b;
    padding-top: 180px;
    padding-bottom: 150px;
    text-align: center;
    color: #ffffff;
    &__title{
        font-size: 48px;
        padding-bottom: 15px;
    }
    &__description{
        font-size: 24px;
    }
}