* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Open Sans';
}

.title {
  font-weight: bold;
}

.btn {
  background-color: #EA5B58;
  color: #ffffff;
  width: 145px;
  height: 54px;
  border: transparent;
  font-size: 18px;
  border-radius: 4px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 31px;
  padding-bottom: 30px;
  background-color: #0d0b11;
}

.menu__logo {
  margin-left: 114px;
}

.menu__itemGroup {
  list-style: none;
  margin-right: 114px;
}

.menu__item {
  display: inline-block;
  margin-left: 50px;
}

.menu__item a {
  color: #FFFFFF;
  font-size: 14px;
  text-decoration: none;
  transition: all .75s;
}

.menu__item a:hover {
  color: #808080;
}

.head {
  display: flex;
  color: white;
  background-color: #161828;
}

.head__group {
  padding-top: 107px;
  padding-bottom: 64px;
  padding-left: 113px;
}

.head__title {
  font-size: 36px;
  padding-bottom: 27px;
}

.head__description {
  font-size: 24px;
  padding-bottom: 64px;
}

.head__img {
  margin-right: 91px;
  margin-top: 34px;
  margin-bottom: 44px;
}
